<div style="margin-top: 10%">
	<footer
		class="container-fluid bg-4 text-center mt-3"
		style="
			background: rgb(65, 63, 63);
			color: #ffffff;
			height: 18vh;
			line-height: 18vh;
		"
	>
		<p style="font-weight: bold">
			&copy; Copyright
			<a href="https://github.com/Coornea" style="text-decoration: none"
				>Coornea</a
			>
			| 2021
		</p>
	</footer>
</div>
